.about {
  padding: 180px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details {
  width: 50%;
}

.name {
  font-family: var(--font-bricolage-grotesque), serif;
  font-weight: bold;
  letter-spacing: -1.5px;
  font-size: 40px;
  line-height: 0;
  padding-bottom: 24px;
}

.title {
  font-family: var(--font-outfit), serif;
  font-weight: 300;
  letter-spacing: -1.5px;
  font-size: 32px;
  color: #aaa;
  line-height: 0;
  padding: 16px 0px 56px 0px;
}

.description {
  font-family: var(--font-outfit), serif;
  font-weight: 400;
  letter-spacing: -0.3px;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  max-width: 800px;
  padding-bottom: 24px;
}

.image {
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}

.photo img {
  border: 8px solid #0022dd;
  border-radius: 999px;
  padding: 8px;
}

.play {
  position: absolute;
  bottom: -40px;
}

.contact {
  display: flex;
  gap: 16px;
}

.button {
  cursor: pointer;
  background-color: #f6f6f6;
  width: 120px;
  padding: 8px 0px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-bricolage-grotesque), serif;
  font-weight: 500;
  letter-spacing: -0.5px;
  border-radius: 999px;
  border: 1px solid #00000010;
  position: relative;
  overflow: hidden;
}

.label {
  transition: transform 0.3s ease-out;
  padding-right: 4px;
}

.arrow {
  position: absolute;
  right: 24px;
  opacity: 0;
  transform: translateX(18px) translateY(2px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  pointer-events: none;
}

.button:hover .label {
  transform: translateX(-8px);
}

.button:hover .arrow {
  opacity: 1;
  transform: translateX(8) translateY(2px);
}

@media screen and (max-width: 768px) {
  .about {
    flex-direction: column-reverse;
    padding: 32px;
    gap: 32px;
  }
  .name {
    font-size: 32px;
    padding-bottom: 16px;
  }

  .title {
    font-size: 24px;
    padding: 16px 0px 32px 0px;
  }

  .details,
  .image {
    width: 100%;
    text-align: center;
  }

  .image {
    margin: 40px 0px 40px 0px;
  }

  .photo img {
    border: 6px solid #0022dd;
    width: 200px;
    height: 200px;
  }

  .play {
    bottom: -24px;
  }

  .play img {
    width: 48px;
    height: 48px;
  }

  .contact {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .button {
    width: 30%;
    padding: 8px 24px;
  }

  .arrow {
    opacity: 1;
    transform: translateX(10px) translateY(2px);
  }
}
