.header {
  padding: 64px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 32px 0px 0px 0px;
  }
  .header__logo {
    width: 48px;
    height: 24.8px;
  }
}

.header__menu > ul {
  list-style: none;
  display: flex;
  gap: 24px;
}
.header__menu > ul > li {
  display: flex;
  align-items: center;
}
.header__menu > ul > li > a {
  text-decoration: none;
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
}
.header__menu > ul > li > a:hover {
  text-decoration: underline;
}
