.work {
  padding: 120px 0px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 120px;
}

.title {
  margin-bottom: -120px;
  font-size: 64px;
  line-height: 48px;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-bricolage-grotesque-extra-bold), serif;
  padding: 40px 0px;
}

.item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.itemTitle {
  font-size: 32px;
  font-family: var(--font-bricolage-grotesque-extra-bold), serif;
}

.itemDescription {
  font-size: 16px;
  font-family: var(--font-outfit), serif;
  line-height: 24px;
  margin-bottom: 24px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailContainer {
  max-width: 75%;
}

.detailTitle {
  font-size: 16px;
  font-family: var(--font-bricolage-grotesque-extra-bold), serif;
}

.detailDescription {
  font-size: 16px;
  font-family: var(--font-outfit), serif;
  line-height: 24px;
  margin-bottom: 24px;
}

.detailDescription > a {
  color: #0022dd;
  text-decoration: none;
}

.detailDescription > a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .work {
    padding: 32px 32px;
  }
  .header {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .headerImage > img {
    width: 100%;
    height: auto;
  }

  .title {
    margin-top: 32px;
    margin-bottom: -40px;
    font-size: 64px;
    letter-spacing: -0.48px;
  }

  .item {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    justify-content: center;
    align-items: center;
  }

  .item {
    display: flex;
    flex-direction: column;
  }

  .details {
    order: 2;
  }

  .image {
    order: 1;
  }

  .image > img {
    width: 100%;
    height: auto;
  }
}
