.projects {
  display: grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.projectImage {
  width: 100%;
  height: auto;
  transition: all 0.3s ease-out;
  cursor: var(--cursor-pointer);
}

.projectImage:hover {
  filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.14));
}

.projectImage:focus {
  filter: none;
}

.projectImage:active {
  filter: none;
}
