.review {
  background-color: #f3f4f5;
  border-radius: var(--s12);
  padding: var(--s16) var(--s24);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(20px); /* Slide in from below */
  animation: fadeInUp 0.5s ease forwards;
  box-shadow: rgba(255, 255, 255, 0.07) 0px 1px 0px 0px inset;
}

:global(html.dark) .review {
  background-color: #292929;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.stars {
  margin-bottom: var(--s14);
}

.description {
  font-size: 15px;
  line-height: 20px;
  color: var(--text-dark);
  margin-bottom: var(--s24);
}

.author {
  display: flex;
  align-items: center;
  color: var(--foreground-color);
}

.image > img {
  border-radius: 50px;
}

.about {
  margin-left: var(--s14);
}

.name {
  font-size: var(--s16);
  font-weight: 600;
  font-variation-settings: 'wght' 700;
}

.website {
  font-size: var(--s14);
  color: var(--primary-color);
}

:global(html.dark) .website {
  color: var(--text-light);
}
