.review {
  background-color: #f3f4f5;
  border-radius: var(--s24);
  padding: var(--s32);
  display: flex;
  flex-direction: column;
  gap: var(--s20);
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards;
  transition: transform 0.3s ease;
}

:global(html.dark) .review {
  background-color: #292929;
}

.review:hover {
  transform: translateY(-3px);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.quoteIcon {
  color: var(--primary-color);
  line-height: 1;
}

:global(html.dark) .quoteIcon {
  color: var(--secondary-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--s12);
}

.stars {
  line-height: 1;
}

.description {
  font-size: var(--s16);
  line-height: 1.6;
  color: var(--text-dark);
  letter-spacing: -0.1px;
}

.author {
  display: flex;
  align-items: center;
  gap: var(--s12);
  padding-top: var(--s8);
  border-top: var(--border);
}

.image > img {
  border-radius: 50%;
  object-fit: cover;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.name {
  font-size: var(--s15);
  font-weight: 600;
  font-variation-settings: 'wght' 700;
  color: var(--foreground-color);
}

.website {
  font-size: var(--s14);
  color: var(--text-light);
}
