.review {
  width: 233px;
  /* border: 1px solid #e4e4e7; */
  background-color: #f3f4f5;
  /* border-radius: var(--s12); */
  border-radius: 10px;
  padding: var(--s16) var(--s24);
  margin-right: var(--s24);
  margin-bottom: var(--s24);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (prefers-color-scheme: dark) {
  .review {
    background-color: #292929;
  }
}

@media screen and (max-width: 600px) {
  .review {
    width: 275px;
    margin-right: var(--s0);
  }
}

.review:nth-child(3n) {
  margin-right: var(--s0);
}

.stars {
  margin-bottom: var(--s14);
}

.description {
  font-size: 15px;
  line-height: 20px;
  color: var(--text-dark);
  margin-bottom: var(--s24);
}

.author {
  display: flex;
  align-items: center;
  color: var(--foreground-color);
}

.image > img {
  border-radius: 50px;
}

.about {
  margin-left: var(--s14);
}

.name {
  font-size: var(--s16);
  font-weight: 600;
  font-variation-settings: 'wght' 700;
}

.website {
  font-size: var(--s14);
  color: var(--primary-color);
}

@media (prefers-color-scheme: dark) {
  .website {
    color: var(--text-light);
  }
}
