.post {
  display: flex;
  max-width: 300px;
  text-decoration: none;
  color: var(--secondary-color);
}

.details {
  /* margin-left: var(--s24); */
  color: var(--foreground-color);
  padding: var(--s24);
  border-radius: var(--s12);
}

.details:hover {
  background-color: var(--back-to-top-hover);
}

.excerpt {
  color: var(--text-medium);
  font-size: var(--s14);
}

.title {
  color: var(--foreground-color);
  font-size: var(--s20);
  font-weight: 600;
  font-variation-settings: 'wght' 700;
}

.image > img {
  border-radius: 10px;
}

.date {
  font-size: var(--s12);
  color: var(--text-medium);
  /* margin-bottom: var(--s24); */
}

@media screen and (max-width: 600px) {
  .blogs {
    padding: var(--s32);
  }
}
