.post {
  display: flex;
  max-width: 300px;
  text-decoration: none;
  color: var(--secondary-color);
}

.details {
  /* margin-left: var(--s24); */
  color: var(--foreground-color);
  padding: var(--s16) var(--s24) var(--s24) var(--s24);
  border-radius: var(--s24);
}

.details:hover {
  background-color: var(--back-to-top-hover);
  box-shadow: rgba(255, 255, 255, 0.07) 0px 1px 0px 0px inset;
}

.excerpt {
  color: var(--text-medium);
  font-size: var(--s16);
}

.title {
  color: var(--foreground-color);
  font-size: var(--s20);
  font-weight: 600;
  font-variation-settings: 'wght' 700;
}

.image > img {
  border-radius: 10px;
}

.date {
  color: var(--date-text);
  background-color: var(--date-bg);
  width: fit-content;
  padding: var(--s4) var(--s12);
  margin-left: -10px;
  margin-bottom: var(--s8);
  font-weight: 400;
  border-radius: 24px;
  font-size: var(--s12);
  font-variation-settings: 'wght' 500;
}

@media screen and (max-width: 600px) {
  .blogs {
    padding: var(--s32);
  }
}
