.post {
  display: flex;
  max-width: 300px;
  margin-bottom: var(--s24);
  text-decoration: none;
  color: var(--secondary-color);
}

.details {
  /* margin-left: var(--s24); */
  color: var(--foreground-color);
}

.title {
  color: var(--foreground-color);
  font-size: var(--s20);
  font-weight: 600;
  font-variation-settings: 'wght' 700;
}

.image > img {
  border-radius: 10px;
}

.date {
  font-size: var(--s12);
  color: var(--text-medium);
  /* margin-bottom: var(--s24); */
}
