.about {
  margin-top: 64px;
}

@media only screen and (max-width: 600px) {
  .about {
    padding: 0px 40px;
  }
}

.experience {
  margin-bottom: var(--s64);
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--foreground-color);
  font-size: var(--s24);
  font-weight: 600;
  font-variation-settings: 'wght' 700;
}

.title > svg {
  margin-bottom: -2px;
}

.details {
  margin-top: var(--s32);
}

.date {
  color: var(--primary-color);
  margin-bottom: var(--s8);
  background-color: #0022dd10;
  width: fit-content;
  padding: var(--s8) var(--s16);
  font-weight: 400;
  border-radius: 24px;
  font-size: var(--s14);
  font-variation-settings: 'wght' 500;
}

@media (prefers-color-scheme: dark) {
  .date {
    color: var(--foreground-color);
    background-color: #0022dd;
  }
}

.ditle {
  color: var(--foreground-color);
  font-size: var(--s20);
  font-weight: 600;
  font-variation-settings: 'wght' 700;
  margin-bottom: var(--s16);
}

.description > ul {
  list-style-position: outside;
}

.description > ul > li {
  font-size: var(--s15);
  line-height: var(--s24);
  margin-bottom: var(--s4);
}
