.project {
  text-align: center;
  position: relative;
}

.img {
  cursor: pointer;
  display: block;
  border-radius: var(--s16);
  border: var(--project-image-border);
  overflow: hidden;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
  transition: all 0.3s ease-in-out;
}

.image:hover .link {
  display: block;
}

.title {
  margin-top: var(--s12);
  font-size: var(--s16);
  font-weight: 600;
  font-variation-settings: 'wght' 700;
  color: var(--foreground-color);
}

.description {
  color: var(--text-light);
  font-size: 14px;
  line-height: 1rem;
  margin-top: 0.375rem;
  margin-bottom: 1.375rem;
}
