:root {
  --body-color: #fdfdfd;
  --body-color-dark: #141414;

  --primary-color: #0025e8;
  --secondary-color: #ffb5ea;

  --text-light: #777777;
  --text-light-dark: #aaaaaa;

  --text-medium: #6b7280;
  --text-medium-dark: #aaaaaa;

  --text-dark: #374151;
  --text-dark-dark: #ffffff;

  --link: #0025e8;
  --link-hover-color: #0022dd;

  --background-color: #ffffff;
  --background-color-dark: #252525;

  --foreground-color: #252525;
  --foreground-color-dark: #ffffff;

  --light-grey: #282828;

  --star-color: #0025e8;
  --star-color-dark: #ffb5ea;

  --back-to-top: #e8e8e8;
  --back-to-top-dark: #292929;

  --back-to-top-hover: #dddddd;
  --back-to-top-hover-dark: #313131;

  --scrollbar-thumb: #dddddd;
  --scrollbar-thumb-dark: #292929;

  --border: 1px solid #ececec;
  --border-dark: 1px solid #424242;

  /* Sizes */
  --s0: 0rem;
  --s2: 0.125rem;
  --s4: 0.25rem;
  --s8: 0.5rem;
  --s10: 0.625rem;
  --s12: 0.75rem;
  --s14: 0.825rem;
  --s15: 0.9375rem;
  --s16: 1rem;
  --s18: 1.125rem;
  --s20: 1.25rem;
  --s24: 1.5rem;
  --s32: 2rem;
  --s34: 2.125em;
  --s36: 2.25em;
  --s40: 2.5rem;
  --s48: 3rem;
  --s56: 3.5rem;
  --s64: 4rem;
  --s72: 4.5rem;
  --s80: 5rem;
  --s88: 5.5rem;
  --s96: 6rem;
  --s104: 6.5rem;
  --s112: 7rem;
  --s120: 7.5rem;
  --s160: 10rem;
  --s192: 12rem;
  --s320: 20rem;
  --s360: 22.5rem;
  --s540: 33.75rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-color: var(--body-color-dark);
    --text-light: var(--text-light-dark);
    --text-dark: var(--text-dark-dark);
    --text-medium: var(--text-medium-dark);
    --background-color: var(--background-color-dark);
    --foreground-color: var(--foreground-color-dark);
    --star-color: var(--star-color-dark);
    --back-to-top: var(--back-to-top-dark);
    --back-to-top-hover: var(--back-to-top-hover-dark);
  }
}

html {
  scroll-behavior: smooth !important;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  max-width: 900px;
  margin: auto;
  background-color: var(--body-color);
}

pre {
  background: #0025e810;
  width: fit-content;
  padding: var(--s16) var(--s32);
  border-radius: var(--s10);
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  color: var(--foreground-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 700;
}

.button {
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  padding: 12px 24px;
  text-decoration: none;
  background-color: var(--primary-color);
  border-radius: 32px;
  line-height: 1.25;
  box-shadow: rgba(255, 255, 255, 0.07) 0px 1px 0px 0px inset !important;
}

.button:hover {
  background-color: var(--link-hover-color);
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80dvh;
}

.not-found > div {
  font-size: var(--s16);
  color: var(--text-light-dark);
}
.not-found > h1 {
  font-size: var(--s160);
  color: var(--foreground-color);
  margin: 0;
}
