.reviews {
  margin-top: var(--s40);
  margin-bottom: var(--s64);
}

.list {
  max-width: 600px;
  margin: var(--s40) auto 0 auto;
  columns: 2;
  column-gap: var(--s8);
}

.item {
  break-inside: avoid;
  margin-bottom: var(--s8);
}

/* Button container styles */
.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: var(--s24);
}

@media (max-width: 768px) {
  .reviews {
    padding: 0 var(--s32);
  }
}

@media (max-width: 600px) {
  .list {
    columns: 1;
  }
}
