.footer {
  margin: var(--s64) var(--s0);
  padding-bottom: 64px;
  border-radius: var(--s12);
  display: flex;
}

.back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: var(--foreground-color);
  padding: 12px 16px;
  font-size: 14px;
  border-radius: 999px;
  background-color: var(--back-to-top);
  opacity: 0;
  transform: translateY(35px);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.back-to-top.show {
  opacity: 1;
  transform: translateY(0);
  box-shadow: rgba(255, 255, 255, 0.07) 0px 1px 0px 0px inset;
}

.back-to-top:hover {
  background-color: var(--back-to-top-hover);
  transform: translateY(-5px);
}

.chat {
  position: fixed;
  left: 20px;
  bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  background-color: var(--chat-bg);
  border-radius: 999px;
  box-shadow: rgba(255, 255, 255, 0.07) 0px 1px 0px 0px inset;
  animation: inverse-zoom 1.5s;
}

@keyframes inverse-zoom {
  0% {
    transform: scale(0, 0);
  }
  75% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1);
  }
}

.chat:hover {
  transform: translateY(-3px);
}

.chatAvatarContainer {
  position: relative;
  margin-bottom: -2.5px;
}

.chatAvatar {
  width: 72px;
  height: 72px;
  border-radius: 999px;
  background-image: linear-gradient(
    hsla(0, 0%, 100%, 0.08),
    hsla(0, 0%, 100%, 0)
  );
  box-shadow: rgba(255, 255, 255, 0.07) 0px 1px 0px 0px inset;
  /* box-shadow:
    inset 0 1px hsla(0, 0%, 100%, 0.12),
    0 1px 2px rgba(16, 24, 40, 0.16); */
}

.chatOnline {
  background-color: #1dbf73;
  width: 18px;
  height: 18px;
  border-radius: 999px;
  position: absolute;
  bottom: 6px;
  right: 3px;
  animation: onlineBlink 2s ease-out infinite;
}

@keyframes onlineBlink {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(0.7);
  }
}

.chatDetails {
  margin-left: 12px;
  padding-right: 24px;
  display: none;
  opacity: 0;
  transition: all 0.3s ease;
}

.chat:hover .chatDetails {
  opacity: 1;
  display: block;
}

.chatDetailsTitle {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 2.5px;
  color: var(--chat-title);
}

.chatDetailsDescription {
  font-size: 11px;
  color: var(--text-light);
  color: var(--chat-description);
}
