.footer {
  margin: var(--s64) var(--s0);
  padding-bottom: 64px;
  border-radius: var(--s12);
  display: flex;
}

.back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 5px;
  width: 50px;
  height: 50px;
  border: 1px solid var(--back-to-top);
  border-radius: 999px;
  background-color: var(--back-to-top);
  opacity: 0;
  transform: translateY(35px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.back-to-top.show {
  opacity: 1;
  transform: translateY(0);
}

.back-to-top:hover {
  background-color: var(--back-to-top-hover);
  border: var(--border);
  transform: translateY(-5px);
}

@media (prefers-color-scheme: dark) {
  .back-to-top:hover {
    border: var(--border-dark);
  }
}
