.solution {
  padding: 0px 0 0 0;
  position: relative;
}

.container {
  height: 120px;
  overflow: visible;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation {
  font-weight: 800;
  font-family: var(--font-bricolage-grotesque-extra-bold), serif;
  white-space: nowrap;
  font-size: 56px;
  letter-spacing: -1.12px;
  color: #e0e0e0;
  will-change: transform;
  transform: rotate(-3deg);
  padding: 40px 0;
  line-height: 1.2;
  position: relative;
}

.process {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.step {
  padding: 24px 32px;
  background-color: #f6f6f6;
  border-radius: 24px;
}

.step > ol > li {
  font-family: var(--font-bricolage-grotesque), serif;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -0.48px;
}

.step > p {
  font-family: var(--font-outfit), serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #777;
}

@media screen and (max-width: 768px) {
  .process {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }

  .step > p {
    font-size: 16px;
    line-height: 22px;
  }

  .solution {
    padding: 0px 32px; /* Adjust padding for smaller screens */
    overflow: hidden;
  }
  .animation {
    font-size: 32px;
    letter-spacing: 0px;
    padding: 20px 0; /* Adjust padding for smaller screens */
  }
}
