.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 128px 0 56px 0;
}

.title {
  font-family: var(--font-bricolage-grotesque-extra-bold), serif;
  font-size: 48px;
  color: #000000;
  letter-spacing: -0.2px;
  padding-bottom: 12px;
}

.description {
  font-family: 'Outfit', serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #818181;
  text-align: center;
}

@media (max-width: 768px) {
  .title {
    font-size: 36px;
    letter-spacing: 0;
    padding-bottom: 20px;
  }

  .description {
    font-size: 18px;
    line-height: 28px;
    padding: 0 16px;
  }

  .header {
    width: 100%;
  }
}
