.links {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.link {
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  background-color: var(--background-color);
}

.title {
  font-weight: 400;
  color: var(--foreground-color);
}

.title > a {
  text-decoration: none;
}
