.page {
  padding: 2rem;
  display: flex;
  justify-content: center;
  font-family: var(--font-outfit), sans-serif;
  align-items: center;
  height: 85dvh;
}

.links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.linkItem {
  cursor: var(--cursor-pointer);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  padding: 32px 32px 12px 32px;
  border-radius: 8px;
}

.linkItem:hover {
  background-color: #f0f0f0;
}
.linkItem:active {
  background-color: #e0e0e0;
}

.link {
  font-size: 1rem;
  color: #000;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.icon {
  object-fit: contain;
}
