.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding-top: 32px;
}

.menu {
  padding: 0px 4px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none !important;
}

.logo > .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoTitle {
  padding-bottom: 5px;
  font-weight: medium;
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  .logo {
    padding-left: var(--s24);
  }
}

.image {
  padding-right: var(--s8);
}

@media only screen and (max-width: 600px) {
  .text {
    display: none;
  }
}

.burger {
  display: none;
}

@media only screen and (max-width: 600px) {
  .burger {
    display: block;
    padding-right: var(--s24);
  }
}

.burger {
  cursor: pointer;
}

.item {
  position: relative;
  border: 1px solid transparent;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: var(--text-light);
  padding: 8px 16px;
  border-radius: 24px;
  overflow: hidden;
  transition: color 0.2s ease;
}

.item::before {
  content: '';
  transform: scale(0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--nav-item-hover-bg);
  border-radius: 24px;
  opacity: 0;
  z-index: -1;
  transition: all 0.2s ease;
}

.item:hover {
  color: var(--nav-item-hover-text);
}

.item:hover::before {
  transform: scale(1.03);
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .hide {
    display: none !important;
  }

  .show {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: var(--s24);
    top: var(--s64);
    text-align: right;
    padding: var(--s8) var(--s16) var(--s8) var(--s16);
    background-color: var(--nav-menu-bg);
    border: 1px solid var(--nav-menu-border);
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .item {
    padding-right: 0px;
  }
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 8px;
}
