.projects {
  padding: 32px;
}

.list {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

/* Project item fade-in animation */
.projectItem {
  opacity: 0;
  transform: translateY(20px); /* Slide in from below */
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0); /* Move to the original position */
  }
}

@media screen and (max-width: 720px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects {
    padding: 32px;
  }
}

/* Button container styles */
.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
